NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_JWT_SECRET=

# Resend email
NEXT_RESEND_API=
RESEND_FROM_EMAIL=onboarding@resend.dev
COORDINATOR_EMAILS=email1@example.com,email2@example.com
